.nav-pills .nav-link.active {
  background-color: #49bbbd !important;

  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* .nav-pills .nav-link{
    color:black;
} */

.Toggler {
  background-color: rgba(73, 187, 189, 0.6);
  border-radius: 20px;
}

.login_Wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
}
