.SuccessHeading{
    color: var(--dark-text-color, #010514);
    font-family: Buenos Aires Trial;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
     /* 62.4px */}
     .SuccessHeadingPara{
color: rgba(1, 5, 20, 0.80);
font-family: Buenos Aires Trial;
font-size: 18px;
font-style: normal;
font-weight: 400;
 /* 28.8px */
     }
     .successNumbersone{
        background: var(--accent-gradient, linear-gradient(90deg, #136CB5 0%, #49BBBD 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
    font-family: Buenos Aires Trial;
    font-size: 50px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%; /* 96px */
     }
     .successNumbersValue{
        color: var(--half-dark-text-color, rgba(1, 5, 20, 0.80));
        font-family: Buenos Aires Trial;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
     }