h1,
h2,
h3,
h4.h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

.card-main {
  border-radius: 15px !important;
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
  color: #205253 !important;
  background: linear-gradient(to bottom, #cae4e5, #fff);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5) !important;
  border-top: 3px solid orange !important;
 
}

.img-contain {
  display: flex;
  justify-content: center;
}

.card3-body {
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
  color: #205253 !important;
}

.Subject-h5 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32.5px; /* 125% */
}
.subject-name {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32.5px;
}

.btn-learn {
  background-color: #49bbbd !important;
  border: 1px solid #49bbbd !important;
  color: #fff !important;
  border-radius: 9px;
  text-align: center;
  font-size: 18px;
  padding: 8px 35px;
  font-style: normal;
  font-weight: 500;
}

.btn-learn:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5) !important;
  background-color: #49bbbd !important;
  border: 1px solid #49bbbd !important;
  color: #205253 !important;
}

.btn-profile {
  background-color: #49bbbd !important;
  border: 1px solid #49bbbd !important;
  color: #fff !important;
  border-radius: 9px;
  text-align: center;
  font-size: 18px;
  padding: 8px 90px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

.btn-profile:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5) !important;
  background-color: #49bbbd !important;
  border: 1px solid #49bbbd !important;
  color: #205253 !important;
}

.hr-notify{
  border: 2px solid orange;
}
